:root{
    --color-white: #ffffff;
    --color-black: #000000;
    --color-accent: #34547A;
    --text-secondary: #727272;
    --text-primary: #000;
    --text-accent: #fff;
    --button-border: 1px solid transparent;
    --bg-accent: #EEEFF1;
}
body{
    font-family: "Roboto", sans-serif;
    line-height: 1.64;
}

.container{
    padding: 0 calc(50vw - 555px);
}
.header{
    padding-top: 79px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: var(--bg-accent);
}
.header__nav-toggler,
#nav-toggler {
    display: none;
}
.header__list{
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}
.header__link{
    text-decoration: none;
    color: var(--color-black);
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.header__link.header__link--active{
    color: var(--color-accent);
    font-weight: 500;
}

.header__link:hover,
.header__link:focus {
    opacity: .5;
}
.header__link:active{
    opacity: .3;
}
.offer{
    background: var(--bg-accent);
    padding-bottom: 141px;
    padding-top: 257px;
}
.offer__title{
    font-weight: 500;
    font-size: 48px;
    margin: 0 0 60px;
}
.offer__desc{
    max-width: 540px;
    margin: 0 0 60px;
    color: var(--text-secondary);
}
.button{
    background: var(--color-accent);
    color: var(--text-accent);
    border: var(--button-border);
    padding: 18px 41px;
    display: inline-flex;
    justify-content: center;
    line-height: 1.64;
    text-decoration: none;
    letter-spacing: 0.1em;
    min-width: 225px;
    box-sizing: border-box;
}
.button:hover, .button:focus{
    opacity: .8;
}
.button:active{
    opacity: .3;
}
.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text-section.text-section--accent{
background: var(--bg-accent);
}
.text-section__title{
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 50px;
}
.text-section__desc{
    color: var(--text-secondary);
    max-width: 540px;
    text-align: center;
}
.text-section__desc:not(:last-child){
    margin-bottom: 50px;
}
.text-section__video{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.projects{
    background: var(--color-accent);
    padding: 100px 260px;
    width: 100%;
}
.project-icons{
    display: flex;
    text-align: center;
    gap: 45px;
}
.icon-block {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  gap: 10px;
}
.icon-block img {
width: 50px;
height: 50px;
}
.number{
    font-weight: 500;
    font-size: 21px;
    margin: 0;
}

.label {
    display: flex;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.footer{
    background: var(--color-accent);
}
.footer-title{
    color: var(--text-accent);
    font-size: 21px;
    font-weight: 500;
}
.footer-rights{
    color: var(--text-accent);
    font-size: 13px;
    font-weight: 400;
}

@media screen and (max-width: 1170px) {
.container{
    padding-left: calc(50vw - 360px);
    padding-right: calc(50vw - 360px);
}
.project-icons{
    flex-wrap: wrap;
    /* width: 50%; */
}
}
     @media screen and (max-width: 768px) {
.container {
        padding-left: calc(50vw - 260px);
        padding-right: calc(50vw - 260px);
    }
    .header{
        padding-top: 20px;
    }
    .header__nav-toggler{
        display: block;
        background: none;
        border: none;
        padding: 0;
        position: relative;
        width: 45px;
        height: 45px;
    }
        .header__list{
            position: absolute;
            top: 65px;
            left: 0;
            height: calc(100dvh - 65px);
            background: var(--bg-accent);
            translate: -200vw 0;
            transition: translate 0.5s;
            flex-direction: column;
            overflow: auto;
            width: 100%;
            align-items: center;
            gap: 20px;
            padding: 20px;
            box-sizing: border-box;
        }
        .header__nav-toggler span,
        .header__nav-toggler:before,
        .header__nav-toggler:after {
            position: absolute;
            content: "";
            width: 30px;
            height: 2px;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            background: black;
            transition: .5s;

        }
        .header__nav-toggler:before{
            margin-top: -10px;
        }

        input:checked + .header__nav-toggler:before,
        input:checked + .header__nav-toggler:after {
            margin-top: 0;
            rotate: 225deg;
        }
        input:checked + .header__nav-toggler:after{
            rotate: -225deg;
        }
input:checked + .header__nav-toggler span{
    opacity: 0;
}
        .header__nav-toggler:after{
            margin-top: 10px;
        }
        input:checked ~ .header__list {
            translate: 0;
        }
        .offer{
            padding-top: 100px;
            padding-bottom: 50px;
        }
        .offer__title{
            margin-bottom: 20px;
        }
        .offer__desc{
            margin-bottom: 20px;
        }
        .text-section{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .text-section__title,
        .text-section__desc:not(:last-child){
            margin-bottom: 20px;
        }
                .projects{
                    flex-wrap: wrap;
                }
                .icon-block{
                    flex-wrap: wrap;
                    width: 45%;
                }
     }
    @media screen and (max-width: 500px) {
        .container {
            padding-left: 20px;
            padding-right: 20px;
        }

    
         .header {
             padding-top: 30px;
             position: absolute;
             left: 0;
             top: 0;
             width: 100%;
             box-sizing: border-box;
         }
    
         .header__nav-toggler,
         .header #nav-toggler {
             display: none;
         }
                 .header__nav-toggler {
                     display: block;
                     background: none;
                     border: none;
                     padding: 0;
                     position: relative;
                     width: 45px;
                     height: 45px;
                 }
        
                 .header__list {
                     position: absolute;
                     top: 65px;
                     left: 0;
                     height: calc(100dvh - 65px);
                     background: var(--bg-accent);
                     translate: -200vw 0;
                     transition: translate 0.5s;
                     flex-direction: column;
                     overflow: auto;
                     width: 100%;
                     align-items: center;
                     gap: 20px;
                     padding: 20px;
                     box-sizing: border-box;
                 }
        
                 .header__nav-toggler span,
                 .header__nav-toggler:before,
                 .header__nav-toggler:after {
                     position: absolute;
                     content: "";
                     width: 30px;
                     height: 2px;
                     top: 50%;
                     left: 50%;
                     translate: -50% -50%;
                     background: black;
                     transition: .5s;
        
                 }
        
                 .header__nav-toggler:before {
                     margin-top: -10px;
                 }
        
                 input:checked + .header__nav-toggler:before,
                 input:checked + .header__nav-toggler:after {
                     margin-top: 0;
                     rotate: 225deg;
                 }
        
                 input:checked + .header__nav-toggler:after {
                     rotate: -225deg;
                 }
        
                 input:checked + .header__nav-toggler span {
                     opacity: 0;
                 }
        
                 .header__nav-toggler:after {
                     margin-top: 10px;
                 }
        
                 input:checked ~ .header__list {
                     translate: 0;
                 }
                .projects {
                flex-wrap: wrap;
                }
                                
                .icon-block {
                flex-wrap: wrap;
                width: 30%;
                }
                }