@import "variables";
.offer {
    background: $bg-accent;
    padding-bottom: 141px;
    padding-top: 257px;
    &__title {
            font-weight: 500;
            font-size: 48px;
            margin: 0 0 60px;
        }
    &__desc {
        max-width: 540px;
        margin: 0 0 60px;
        color: $text-secondary;
        }
}



